.App {
  text-align: center;
  background-color: aliceblue;
  height: 100vh;
}
/* -----------------Main Page----------------- */

.nav-link {
  color: black;
}

.main_menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  border-bottom: 1px solid #a3a3a3;
  height: 10vh;
  font-style: normal;
  font-size: larger;
}

.main_menu_logo {
  align-items: flex-start;
  height: 9vh;
  font-size: 4vh;
}

.search {
  margin: 0px 20px;
}
/* -----------------Main Page----------------- */

/* -----------------About----------------- */
.about_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12% 20px;
}

.about_content {
  background-color: rgb(255, 255, 255);
  width: 500px;
}

/* -----------------About----------------- */
/* -----------------BookListing----------------- */
.text {
  text-align: initial;
}

.card-body {
  padding: 0px;
}

/* -----------------BookListing----------------- */

/* -----------------BookDetails----------------- */

.book-cover {
  height: 15em;
}

.book-cover-small {
  height: 7em;
  margin-right: 1em;
  margin-left: 1em;
}

.book-image {
  height: 80px;
  margin-right: 2em;
}

.background-div {
  background-color: #f2f2f2;
  padding: 20px;
}

.border-thick {
  border-width: 3px;
}

/* -----------------BookDetails----------------- */
/* -----------------Cart----------------- */

.cart {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
}

/* -----------------Cart----------------- */
